*{
    margin: 0px;
    padding: opx;
    font-family: 'Times New Roman', Times, serif;
    
}


body{
    background-color: #0A1930;
}
.main p{
    font-size: 20px;
    color: rgb(65, 255, 239);
    position: absolute;
    left: 200px;
    top: 130px;
}
.main h1{
    font-size: 70px;
    color: rgb(209, 219, 254);
    position: absolute;
    left: 200px;
    top: 170px;
}
.main .build{
    font-size: 70px;
    color: rgb(138, 147, 176);
    position: absolute;
    left: 200px;
    top: 250px;
}
.main h1+p{
    font-size: 20px;
    margin: 10px 200px 10px 50px;
    color: rgb(104, 119, 142);
    position: absolute;
    left: 150px;
    top: 350px;
}
}

.nav{
    height: 8vh;
    width: 100%;
    position: absolute;
    /* background-color: rgb(12, 16, 51); */
} 
.nav ul{
    font-size: 20px;
    position: fixed;
    width: 100%;
    left: 1000px; 
    line-height: 60%;
    top: 25px;
}

.nav ul li  {
    text-decoration: none;
    text-align: center;
    display: inline;
    padding: 15px 10px 15px 10px ;  
    
    /* margin: 5px 10px 5px 10px; */
}
.nav ul  i{
    padding: 5px;
    color: #92A0BA;
}

.nav ul a{   
    color: #92A0BA;
    text-decoration: none; 
  
    
}

.nav ul li:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 5px rgb(255, 255, 255);  
    
}
